*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.section1{
    background-color: #1F2937 ;
}

.header{
    display: flex;
    justify-content: space-between;
} 

header{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding: 48px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 48px;
    gap: 32px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #E5E7EB
}

.media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.herotext{
    font-size: 48px; 
    font-weight: bolder;
    color: #F9FAF8
}

.secondarytext{
    font-size: 18px;
    color:#E5E7EB
}

.textbox{
    max-width: 500px;
}

img{
    height: 500px;
    width: auto;
}

.button1{
    background-color:#3882F6;
    color: #F9FAF8;
    border:none;
    margin-top: 8px;
    padding: 8px 32px;
    border-radius: 12px;
    font-size: 24px;
}

.cat{
    width: 200px;
    height: auto;
}

.section2{
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info{
    max-width: 200px;
    font-size: 18px;
    color:#1F2937
}

.title{
    display: flex;
    justify-content: center;
    padding: 48px;
    font-size: 36px;
    color:#1F2937;
    font-weight: bold;
}

.section3{
    background-color: #E5E7EB;
    padding: 100px;
    margin-top: 100px;
}

.quote,.signature{
    display: flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.quote{
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    
}

.signature{
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.textbox2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 12px;
    padding: 48px 0;
    margin: 96px 480px;
    gap: 64px;
}

.call{
    font-size: 24px;
    font-weight: bold; 
    display: flex;
    flex-direction: column;
}

.signup{
    font-size: 18px;
    font-weight: lighter;
    display: flex;
}

.button2{
    background-color:#3882F6;
    color: #F9FAF8;
    border: 3px solid #E5E7EB;
    margin-top: 8px;
    padding: 8px 32px;
    border-radius: 12px;
    font-size: 16px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    font-size: 18px;
    background-color: #1F2937;
    color:#E5E7EB;
}